# Test CODEOWNERS file

# Default owners for everything in the repo
* @default-owner

# Owners for frontend code
CI_README.md reallyclean-sauce jgarciaga

# Multiple owners for specific files
*.md reallyclean-sauce jgarciaga

